rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /rooms/{roomId} {
      allow read: if request.auth != null;

      allow create: if request.auth != null
                    && request.auth.token.email != null
                    && request.resource.data.ownerUid == request.auth.uid
                    && request.resource.data.ownerEmail == request.auth.token.email;

      allow update: if request.auth != null
                    && request.auth.token.email != null
                    && (
                      resource.data.ownerUid == request.auth.uid
                      ||
                      (
                        !('ownerUid' in resource.data)
                        && request.resource.data.ownerUid == request.auth.uid
                        && request.resource.data.ownerEmail == request.auth.token.email
                      )
                    );

      allow delete: if request.auth != null
                    && resource.data.ownerUid == request.auth.uid;

      match /viewerLogs/{viewerUid} {
        allow create, update: if request.auth != null
                              && request.auth.uid == viewerUid;

        allow read: if request.auth != null
                    && (request.auth.uid == viewerUid
                        || get(/databases/$(database)/documents/rooms/$(roomId)).data.ownerUid == request.auth.uid);

        allow delete: if request.auth != null
                      && get(/databases/$(database)/documents/rooms/$(roomId)).data.ownerUid == request.auth.uid;
      }

      match /analysisLogs/{logId} {
        allow create: if request.auth != null
                      && request.resource.data.uid == request.auth.uid;

        allow read: if request.auth != null
                    && (request.auth.uid == viewerUid
                        || get(/databases/$(database)/documents/rooms/$(roomId)).data.ownerUid == request.auth.uid);

        allow delete: if request.auth != null
                      && get(/databases/$(database)/documents/rooms/$(roomId)).data.ownerUid == request.auth.uid;

        allow update: if false;
      }

    }
  }
}
